/* Our Css collection */
h1 {
    display: block;
	font-size: 4em;
	margin-top: 1.2em;
	margin-bottom: 0.7em;
	text-align: center;
	font-weight: bold;
	color: white;
} 

h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1em;
}

body, html{
    height: 80%;
	background: #444444;
	margin: 20px;
}

svg {
	float: left;
	margin-left: 253px;
	margin-top: -663px;
	position: absolute; z-index:1;  
	background: #FFF;
}

path {
    fill:none;
    stroke:black;
    pointer-events:all;
}

path:hover {
	fill: red;
}

#parent {
	display: flex;
	height: 110%;
}

#narrow { /* roter Background testweise */
	width: 30%;
	background: #771212;
	margin-right: 250px;
	border: 3px solid black;
}

#wide {
	flex: 1;
	background: #FFF;
	margin-left: 250px;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

#werte {
	margin-right: 70px;
	margin-left: 70px;
	margin-top: 70px;
	background: #fffbbd;
}

#stadtteilname {
	text-align: center;
	margin-top: 85px;
	font-size: 3em;
	color: white;
}

#backButton {
	float: left;
}

.background {
  pointer-events: all;
}

.map-layer {
  fill: #efefef;
  stroke: #000;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}

