/* Our Css collection */
h1 {
    display: block;
	font-size: 4em;
	margin-top: 1.2em;
	margin-bottom: 0.7em;
	text-align: center;
	font-weight: bold;
	color: white;
} 

h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

body, html{
    height: 80%;
	background: #444444;
	margin: 20px;
}

svg {
	float: left;
	margin-left: 253px;
	margin-top: -663px;
	position: absolute; z-index:2;  
	background: #FFF;
}

path {
    stroke: #333;
	opacity: 0.5;
    pointer-events:all;
}

path:hover {
	opacity: 1;
	stroke:black;
}

#parent {
	display: flex;
	height: 110%;
}

#narrow { /* Werte auf der rechten Seite */
	width: 30%;
	background: #ccc;
	margin-right: 250px;
	border: 3px solid black;
}

#wide {
	flex: 1;
	background: #FFF;
	margin-left: 250px;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

#werte {
	margin: auto;
	margin-top: 70px;
	background: #ccc;
}

#stadtteilname {
	text-align: center;
	margin-top: 60px;
	font-size: 2.8em;
	font-weight: bold;
	color: black;
}

#myButt {
	text-align: center;
}

#bezik_oder_stadtteil {
	float: left;
	position: absolute; z-index:5;
	margin-top: 6px;
	margin-left: 6px;
}


