/* Our Css collection */
h1 {
    display: block;
	font-size: 3.3em;
	margin-top: 1.2em;
	margin-bottom: 0.7em;
	text-align: center;
	font-weight: bold;
	
} 

h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 1em;
}

body {
	background: #444444;
	
}

main{
	
}

img{
	
}
#title{
	color:white;
	text-decoration:underline;
	margin-bottom: 80px;
}

#top{
	text-align:center;
	float: center;
	margin:auto;
	border-style: solid;
	background-color:grey;
}

#bottom {
	display:flex;
	border-style:solid;
	
}

#left {
	width:20%;
	background-color:grey;
	display: inline-block;
	max-width: 20%;
	border-style:solid;
}
#right{
	flex:1;
	background-color:grey;
	border-style:solid;
}

#stadtteile{
	text-align:left;
	margin-top:5%;
	margin-bottom: 2%;
	margin-left:5%;
	color:blue;
}

#param{
	color:blue;
}

#backButton {
	float: top;
}

#Parameter {
	font-size:60px;
	color: red;
	
}

#Parameter2 {
	font-size: 60px;
	margin-bottom: 8%;
	margin-left:5%;
	color:red;
	background-color:grey;
}

#footer{
	position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #444444;
    height:8.2%;
	color:white;
}
