/* Our Css collection */
h1 {
	margin: auto;
	font-size: 3.3em;
	margin-top: 0.9em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
	color: white;
} 

h2 {
	margin: auto;
	text-align: center;
	color: black;
}

html,body {
    position: relative;
    min-height: 100%;
    background-color: #30595b;
}

#top{
	text-align:center;
	float: center;
	margin:auto;
	height: 25%;
}

#bottom {
	display:flex;
	height: 50%;
	margin-top: 40px;
}

#left {
	width:20%;
	display: inline-block;
	max-width: 20%;
}

#right{
	flex:1;
	margin-left: 80px;
}

#stadtteile{
	text-align:left;
	margin-top:5%;
	margin-bottom: 2%;
	margin-left: 15%;
}

#backButton {
	float: left;
	margin-top:5%;
	margin-left:5%;
}

#Parameter {
	font-size:28px;
}

#Parameter2 {
	font-size:24px;
}

#area2,#area1,#area3 {
	padding-bottom: 8%;
	margin-left: 7%;
}

#berechne {
	float: middle;
	margin-left: 350px;
}

footer {
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
	background-color: #ccc;
    width: 100%;
}


/* style for d3  */


.chart {
  background: white;
  border: 4px solid black;
}

.chart .legend {
  fill: black;
  font: 20px sans-serif;
  text-anchor: start;
  font-size: 20px;
}

.chart text {
  fill: black;
  font: 30px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
  float: left;
}


.bar:hover {
	fill: #fb4d3d;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}